<% if @employee.errors.any? %>
  <div id="error_explanation">
    <h2>Из-за <%= @employee.errors.count %> <%= Russian.p(@employee.errors.count, "ошибки","ошибок","ошибок") %> нельзя сохранить данные:</h2>
    <ul>
    <% @employee.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag(skills_edit_skills_path, remote: true) do %>
  <div class="field">
    <%= label_tag "Умения" %><br>
    <span id="skills"><% @skills.each do |s,i| %><%= hidden_field_tag "skills[]", s %><%= submit_tag s, name: "delete_skill" %><% end %></span>
    <%= autocomplete_field_tag :add_skill, '', autocomplete_skill_name_skills_path %>
    <%= submit_tag "Добавить умение" %>
  </div>
<% end %>

<%= form_for(@employee) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contacts %><br>
    <%= f.text_field :contacts %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.select :state, options_for_select(Employee.states.map {|i,j| [I18n.t(i),i]}) %>
  </div>
  <div class="field">
    <%= f.label :salary %><br>
    <%= f.text_field :salary %>
  </div>

  <div id="hidden_skills">
    <% @skills.each do |s| %>
      <%= hidden_field_tag "skills[]", s %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>