<h1>Работники</h1>

<table>
  <thead>
    <tr>
      <th>ФИО</th>
      <th>Контактная информация</th>
      <th>Статус</th>
      <th>Желаемая зарплата</th>
      <th>Умения</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.contacts %></td>
        <td><%=t employee.state %></td>
        <td><%= employee.salary %></td>
        <td><%= render employee.skills %></td>
        <td><%= link_to 'Показать', employee %></td>
        <td><%= link_to 'Редактировать', edit_employee_path(employee) %></td>
        <td><%= link_to 'Удалить', employee, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый работник', new_employee_path %>
