<p id="notice"><%= notice %></p>

<p>
  <strong>ФИО:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Контактная информация:</strong>
  <%= @employee.contacts %>
</p>

<p>
  <strong>Статус:</strong>
  <%= @employee.state %>
</p>

<p>
  <strong>Желаемая зарплата:</strong>
  <%= @employee.salary %>
</p>

<p>
  <strong>Умения:</strong>
  <%= render @employee.skills %>
  <%= 'нет умений...' if @employee.skills.count <= 0 %>
</p>

<%= link_to 'Редактировать', edit_employee_path(@employee) %> |
<%= link_to 'Назад', employees_path %>
