<h1>Работник</h1>

<h2>Данные</h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>ФИО:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Контактная информация:</strong>
  <%= @employee.contacts %>
</p>

<p>
  <strong>Статус:</strong>
  <%=t @employee.state %>
</p>

<p>
  <strong>Желаемая зарплата:</strong>
  <%= @employee.salary %>
</p>

<p>
  <strong>Умения:</strong>
  <%= render @employee.skills %>
  <%= 'нет умений...' if @employee.skills.count <= 0 %>
</p>

<%= link_to 'Редактировать', edit_employee_path(@employee) %> |
<%= link_to 'Назад', employees_path %>

<h2>Подходящие вакансии:</h2>
<p>
  <% @suitable.each do |v| %>
  <%= render v %>
  <% end %>
  <%= 'Нет вакансий' if @suitable.empty? %>
</p>

<h2>Частично подходящие вакансии:</h2>
<p>
  <% @partially.each do |v| %>
  <%= render v %>
  <% end %>
  <%= 'Нет вакансий' if @partially.empty? %>
</p>