  <% if @vacancy.errors.any? %>
    <div id="error_explanation">
    <h2>Из-за <%= @vacancy.errors.count %> <%= Russian.p(@vacancy.errors.count, "ошибки","ошибок","ошибок") %> нельзя сохранить данные:</h2>
      <ul>
      <% @vacancy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@vacancy) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :valid_until %><br>
    <%= f.date_select :valid_until %>
  </div>
  <div class="field">
    <%= f.label :salary %><br>
    <%= f.text_field :salary %>
  </div>
  <div class="field">
    <%= f.label :contacts %><br>
    <%= f.text_field :contacts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
