<h1>Редактирование вакансии</h1>
<p id="notice"><%= notice %></p>
<h2>Сведения о вакансии</h2>
<%= render 'form' %>

<h2>Необходимые умения</h2>
<%= render partial: 'skills/edit_skills', locals: { parent: @vacancy } %>

<%= link_to 'Завершить редактирование', @vacancy %> |
<%= link_to 'К списку вакансий', vacancies_path %>
