<h1>Вакансии</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Дата добавления</th>
      <th>Срок действия</th>
      <th>Зарплата</th>
      <th>Контактная информация</th>
      <th>Необходимые умения</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacancies.each do |vacancy| %>
      <tr>
        <td><%= vacancy.name %></td>
        <td><%= l vacancy.created_at.to_date %></td>
        <td><%= l vacancy.valid_until.to_date %></td>
        <td><%= vacancy.salary %></td>
        <td><%= vacancy.contacts %></td>
        <td><%= render vacancy.skills %></td>
        <td><%= link_to 'Показать', vacancy %></td>
        <td><%= link_to 'Редактировать', edit_vacancy_path(vacancy) %></td>
        <td><%= link_to 'Удалить', vacancy, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая вакансия', new_vacancy_path %>
