<h1>Вакансия</h1>
<p id="notice"><%= notice %></p>
<h2>Сведения о вакансии</h2>
<%= link_to 'Редактировать', edit_vacancy_path(@vacancy) %>

<p>
  <strong>Название:</strong>
  <%= @vacancy.name %>
</p>

<p>
  <strong>Дата добавления:</strong>
  <%= l @vacancy.created_at.to_date %>
</p>

<p>
  <strong>Срок действия:</strong>
  <%= l @vacancy.valid_until.to_date %>
</p>

<p>
  <strong>Зарплата:</strong>
  <%= @vacancy.salary %>
</p>

<p>
  <strong>Контактная информация:</strong>
  <%= @vacancy.contacts %>
</p>

<p>
  <strong>Необходимые умения:</strong>
  <%= render @vacancy.skills %>
  <%= 'нет умений...' if @vacancy.skills.count <= 0 %>
</p>

<h2>Подходящие работники</h2>

<p>
  <% @suitable.each do |e| %>
  <%= render e %>
  <% end %>
  <%= 'Нет работников' if @suitable.empty? %>
</p>

<h2>Частично подходящие работники</h2>
<p>
  <% @partially.each do |e| %>
  <%= render e %>
  <% end %>
  <%= 'Нет работников' if @partially.empty? %>
</p>