<h1>Умения</h1>

<table>
  <thead>
    <tr>
      <th>Нзвание</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= link_to 'Показать', skill %></td>
        <td><%= link_to 'Редактировать', edit_skill_path(skill) %></td>
        <td><%= link_to 'Удалить', skill, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новое умение', new_skill_path %>
