<!DOCTYPE html>
<html>
<head>
  <title>Кадровое Агенство (Тестовое задание)</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
	<li><%= link_to "Работники", employees_path %></li>
	<li><%= link_to "Вакансии", vacancies_path %></li>
	<li><%= link_to "Умения", skills_path %></li>
</ul>

<%= yield %>

</body>
</html>
